<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<body data-bs-theme="dark">
<div class="container">
    <h1>Pizza List</h1>

    <table th:if="${pizzaList.size() > 0}" class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzaList}" th:object="${pizza}">
            <td th:text="*{id}" class="fs-4"></td>
            <td><img th:src="*{image_url}" style="width:100px; height:100px"></td>
            <td th:text="*{name}" class="fs-6"></td>
            <td th:text="*{description}" class="fs-6"></td>
            <td th:text="|*{price}€|" class="fs-4"></td>
        </tr>
        </tbody>
    </table>

    <div th:unless="${pizzaList.size() > 0}">There are no pizzas available</div>

</div>
</body>
</html>