<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<body data-bs-theme="dark">
<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>

<div class="card m-5">
    <div class="card-body">

        <div class="container">
            <div class="row g-3">
                <div class="d-flex align-items-center">
                    <h1 class="m-0">Pizza List</h1>
                    <a th:href="@{/pizzas/create}" class="btn btn-primary ms-auto"><i class="fa-solid fa-plus"></i></a>
                </div>

                <form th:action="@{/pizzas}" method="GET">
                    <div class="input-group">
                        <input
                                type="text"
                                placeholder="Search pizza"
                                class="form-control" name="search"
                                th:value="${param.search}"
                        >
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>

                <table th:if="${pizzaList.size() > 0}" class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Show</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pizza : ${pizzaList}" th:object="${pizza}">
                        <td th:text="*{id}" class="fs-4"></td>
                        <td th:text="*{name}" class="fs-6"></td>
                        <td><img th:src="*{image_url}" style="width:100px; height:100px"></td>
                        <td th:text="*{description}" class="fs-6"></td>
                        <td th:text="|*{price}€|" class="fs-4"></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{/pizzas/show/{id}(id=*{id})}" title="details"><i
                                    class="fa-solid fa-pizza-slice"></i></a>
                        </td>
                        <td>
                            <a class="btn btn-primary" th:href="@{/pizzas/edit/{id}(id=*{id})}" title="edit"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                        <td>
                            <form method="post" th:action="@{/pizzas/delete/{id}(id=*{id})}"
                                  onsubmit="return confirm('Are you sure ?')">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div th:unless="${pizzaList.size() > 0}">There are no pizzas available</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>